body {
    font-family: Arial, sans-serif;
    background-color: #a0d9fd;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #615e5e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1e1c1c;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
